@charset "utf-8";
@media (max-height:798px) {
    .sign_up_forms .gform_wrapper .gfield_label, .sign_up_forms .gform_wrapper .ginput_container_name {margin-bottom: 5px;}
    .modal-header {padding: 25px 50px 0;}
    input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea, select {height: 46px;}
    body .sign_up_forms .gform_wrapper ul li.gfield {margin-bottom: 20px !important;}
    .modal-body {padding: 0 50px 10px;}
    .gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit], .gform_wrapper .gform_page_footer input.button, .gform_wrapper .gform_page_footer input[type=submit], input[type=submit], input.button {height: 46px;padding: 15px 17px 12px !important;}
    .form_wrap {min-height: 570px;}
}
/*--------------media query css------------------*/
@media (max-width:1440px) {
    .our_mission_sec::before {bottom: -130px;left: 0;}
    #footer {padding: 50px 0;}
    .story_sec::before {width: 390px;height: 900px;bottom: -200px;}
    .story_sec::after {width: 415px;height: 800px;bottom: -150px;}
    .membership_sec::before {width: 416px;height: 739px;left: -89px;}
    .membership_sec::after {bottom: 0;right: -70px;}
    .middle_content_img_sec::after {width: 700px;height: 500px;top: 7%;right: -250px;}
}
/*------------tablet landscape view------*/
@media (max-width:1199px) {
    nav ul li {margin-left: 30px;}
    #header {margin: 4px 0 0 0;}
    .blankDiv {margin: 4px 0 0 0;}
    .comman_sec {padding: 45px 0;}
    .our_value_content {margin-bottom: 50px;}
    .our_value_content figure img {max-height: 100px;}
    .our_value_content figure {width: 105px;height: 100px;margin: 0 auto 30px;line-height: 100px;}
    .our_value_content p {font-size: 18px;}
    #footer .col-md-10 {-ms-flex: 0 0 78.333333%;flex: 0 0 78.333333%;max-width: 78.333333%;}
    #footer .col-md-2 {-ms-flex: 0 0 21.333333%;flex: 0 0 21.333333%;max-width: 21.333333%;}
    .our_mission_sec::before {left: -270px;}
    .our_mission_sec::after {right: -210px;}
    .simple_steps_sec::before {width: 565px;height: 739px;top: 22%;}
    .pay-sec {padding: 25px 0;}
    .card {padding: 17px 0 15px;}
    .progress_bar_sec h3 {font-size: 30px;}
    .counter-progress {margin-top: 30px;}
    .progress-bar-loader {max-width: 140px;}
    .progress-bar-loader canvas {width: 140px;height: 140px;}
    .progress-bar-loader .value .pie-value, .progress-bar-loader .value {font-size: 32px;}
    .story_detail {padding: 17px 20px 30px;}
    .story_sec::before {left: -247px;}
    .story_sec::after {right: -270px;}
    .brand_logo ul {margin-bottom: 35px;}
    .installment_sec h3 {font-size: 32px;}
    .brand_sec .mid_content h3 {font-size: 32px;}
    .card_sec:after {top: -120px;right: -100px;}
    .membership_sec::before {left: -189px;}
    .client_story .middle_content .client_name {margin-top: 24px;}
    .form-detail {padding: 23px 10px 23px 20px;}
    .filter_list li {margin: 25px 13px 20px;}
    .filter_list li.verified-stores::before {left: -15px;}
    .blog-sort-search {max-width: 165px;}
    .blog-sort-search .search-text {width: 165px;}
    .search_popup {margin: 0;}
    .search_popup a::after {right: -35px;}
    .store_popup_content .modal-body {padding: 50px 40px 40px;}
    .middle_content_img_sec::after {right: -450px;}
    .pay_quadpay_sec .middle_content ul {font-size: 18px;}
    .brand_logo ul {margin-top: 20px;}
    .pay_quadpay_sec .middle_content {max-width: 480px;margin-left: 50px;}
    .banner_content .gform_wrapper .gform_body {width: 276px !important;}
    .whr-items > li {margin-bottom: 50px;}
    .unli_possi_img {height: 211px;}
    .card_sec .middle_content h3, .pay_quadpay_sec .middle_content h3 {font-size: 23px;}
    .clinet_logo_sec figure img {width: 80%;}
    #footer > .container > .row > .col-lg-3 {-ms-flex: 0 0 285px;flex: 0 0 285px;max-width: 285px;}
    #footer > .container > .row > .col-lg-9 {-ms-flex: 0 0 calc(100% - 285px);flex: 0 0 calc(100% - 285px);max-width: calc(100% - 285px);}
    .filter_icon {margin-right: 0;}
}
/*------------tablet portrait  view------*/
@media (max-width:991px) {
    h1 {font-size: 26px;}
    h2 {font-size: 26px;margin-bottom: 20px;}
    h3 {font-size: 20px;}
    .our_value_content {padding: 0;}
    .comman_sec {padding: 35px 0;}
    .trusted_best_logo_list {padding: 10px 5% 50px;}
    .our_mission_content {padding: 25px 15px;}
    .our_mission_content h3 {font-size: 20px;margin-bottom: 25px;}
    #footer .col-md-10 {-ms-flex: 0 0 76.333333%;flex: 0 0 76.333333%;max-width: 76.333333%;}
    #footer .col-md-2 {-ms-flex: 0 0 23.333333%;flex: 0 0 23.333333%;max-width: 23.333333%;}
    .logo {width: 130px;margin-top: 6px;}
    .help_link {margin: 0 0 0 15px;top: 3px;}
    #header .col-md-5 {-ms-flex: 0 0 30.666667%;flex: 0 0 30.666667%;max-width: 30.666667%;}
    #header .col-md-7 {-ms-flex: 0 0 69.333333%;flex: 0 0 69.333333%;max-width: 69.333333%;}
    nav ul li {margin-left: 14px;}
    nav ul li.get_started_btn {margin-left: 10px;}
    nav ul li.get_started_btn a {font-size: 12px;padding: 10px 9px 7px;}
    .banner_content {padding: 0;margin-bottom: 20px;}
    .banner_content P {font-size: 20px;margin-bottom: 25px;}
    .banner_content .gform_wrapper .gform_footer {float: none !important;margin: 15px 0 0 !important; clear: both !important;}
    .banner_content .gform_wrapper .gform_body {float: none !important; clear: both !important;}
    .banner_content ul li {margin-left: 13px;}
    .banner_content ul li a i {margin-right: 3px;}
    .heading_content {padding-bottom: 15px;}
    .simple_steps_sec .heading_content {padding-bottom: 45px;}
    .simple_steps_sec::before {height: 600px;}
    .tabs_content h3 {font-size: 21px;margin-bottom: 10px;}
    .tabs_content p {font-size: 18px;}
    .tabs_content h4 {margin-bottom: 20px;}
    .nav-tabs .nav-item {margin-bottom: 40px;}
    .middle_content h2 {font-size: 28px;}
    .middle_content img {margin-right: 20px;}
    .middle_content img:last-child {margin-right: 0;}
    .pay-sec {padding: 20px 0;}
    .card-header {font-size: 20px;}
    .tabs_content h2 {font-size: 32px;}
    .banner_content ul li a {font-size: 14px;}
    .banner_content ul li a i.fa-apple {font-size: 22px;position: relative;top: -3px;}
    .progress-bar-content {margin-bottom: 40px;}
    .progress-bar-content p {margin-top: 0;}
    .card_sec:after {width: 316px;height: 539px;border-radius: 50px;-webkit-border-radius: 50px;-moz-border-radius: 50px;-ms-border-radius: 50px;-o-border-radius: 50px;}
    .installment_sec h3 {font-size: 28px;}
    .stories_sec_detail {padding-top: 40px;}
    .brand_sec .mid_content h3 {font-size: 28px;}
    .story_detail figure {width: 100px;height: 100px;}
    .story_detail figure img {width: 60px;}
    .clinet_logo_sec p {margin-bottom: 15px;}
    .clinet_logo_sec figure {margin: 30px 0;}
    .gform_wrapper h3.gform_title {font-size: 24px !important;}
    .modal-header {padding: 40px 25px 0;}
    .modal-body {padding: 0 25px 15px;}
    .membership_sec::before {width: 316px;height: 639px;bottom: -121px;left: -180px;border-radius: 50px;-webkit-border-radius: 50px;-moz-border-radius: 50px;-ms-border-radius: 50px;-o-border-radius: 50px;}
    .membership_sec::after {right: -220px;}
    .client_story .middle_content p {font-size: 18px;}
    .client_story .middle_content .client_name {font-size: 22px;}
    .client_story .middle_content {padding: 35px 35px}
    .form_wrap {padding: 32px 20px 15px;min-height: 635px;}
    .filter_list {display: block;}
    .filter_list li {margin: 0 14px;}
    .filter_list li.verified-stores::before {left: -10px;width: 20px;height: 20px;top: 1px;}
    .filter_list li {font-size: 15px;}
    .search_popup {font-size: 15px;margin-left: 0;}
    .filter_list_wrap ul li {margin-right: 3.7%;}
    .search_popup a::after {right: -20px;width: 15px;height: 15px;top: 0;}
    .store_popup_content{margin: 15px auto;}
    .store_popup_img {bottom: -30px;right: -7px;width: 330px;}
    .privacy_sec h1 {margin-bottom: 50px;}
    .privacy_sec h3 {margin-bottom: 20px;padding-top: 0;}
    #footer {padding-bottom: 20px;}
    .search_popup a::after {width: 13px;height: 13px;top: 2px;}
    .form-detail p {font-size: 19px;}
    .pay_quadpay_sec .middle_content {margin-left: 0;max-width: 340px;}
    .button_row {margin-top: 15px;}
    .banner_content ul li {margin-left: 0;margin-bottom: 10px;}
    .whr-items > li {-ms-flex: 0 0 50%;flex: 0 0 50%;max-width: 50%;}
    .card_sec .middle_content h3, .pay_quadpay_sec .middle_content h3 {font-size: 20px;}
    .mid_content p br, .mid_content h2 br, .heading_content p br {display: none;}
    .clinet_logo_sec figure img {width: 90%;}
    #footer > .container > .row > .col-lg-3 {-ms-flex: 0 0 260px;flex: 0 0 260px;max-width: 260px;}
    #footer > .container > .row > .col-lg-9 {-ms-flex: 0 0 calc(100% - 260px);flex: 0 0 calc(100% - 260px);max-width: calc(100% - 260px);}
    .blog-sort-search {max-width: 565px;position: absolute;top: 20px;right: 15px;}
    .blog-sort-search .search-text {width: 565px;}
}
/*------------mobile landscape  view------*/
@media (max-width:767px) {
    body, p {font-size: 18px;}
    h1 {margin-bottom: 15px; font-size: 27px;}
    h2 {font-size: 26px;margin-bottom: 15px;}
    h4 {margin-bottom: 20px;}
    .comman_sec {padding: 30px 0;}
    .our_value_content figure {height: 70px;line-height: 70px; margin-bottom: 50px;}
    /* .our_value_content figure img {max-height: 70px;} */
    .two_images_col {margin-bottom: 15px;}
    .trusted_best_logo_list {padding: 0 0 40px;}
    .trusted_best_box p {font-size: 18px;}
    .our_mission_sec::after { right: -110px; bottom: auto; top: 17%; width: 400px; height: 400px; display: block; border-radius: 50px; -webkit-border-radius: 50px; -moz-border-radius: 50px; -ms-border-radius: 50px; -o-border-radius: 50px; }
    .our_mission_sec::before { width: 410px; height: 738px; border-radius: 50px; -webkit-border-radius: 50px; -moz-border-radius: 50px; -ms-border-radius: 50px; -o-border-radius: 50px; }
    #footer .col-md-10 {-ms-flex: 0 0 100%;flex: 0 0 100%;max-width: 100%;}
    #footer .col-md-2 {-ms-flex: 0 0 100%;flex: 0 0 100%;max-width: 100%;}
    .foo_logo {margin-right: auto;}
    .copyright_content {margin-bottom: 40px;text-align: center;}
    .social_icons {margin-top: 15px;}
    #footer {padding: 30px 0;}
    .foo_menu {margin-bottom: 0;text-align: center;}
    #footer > .container > .row > .col-lg-12 > p {text-align: center;}
    .foo_menu > li {padding-right: 0;width: 100%;margin-bottom: 30px;}
    .foo_menu > li:nth-child(3) {width: 100%;}
    .foo_menu > li ul li {width: calc(50% - 5px); width: 100%; display: inline-block; vertical-align: top;}
    body .mid_content .gform_wrapper ul li.gfield {padding-right: 15px;}
    .banner_img {margin: 0 auto; max-width: 350px;}
    .banner_content {text-align: center;}
    .banner_content .gform_wrapper {margin-bottom: 25px;}
    .banner_content .gform_wrapper .gform_body {float: left !important;clear: inherit !important;padding-right: 16px;}
    .banner_content .gform_wrapper .gform_footer {float: left !important;margin: 0 0 0 !important;clear: inherit !important;}
    .tabs_content {width: 100%;float: none;}
    .tab-content {width: 100%;float: none;}
    .tab-pane figure {max-width: 300px;margin: 0 auto;}
    .tabs_content .nav-item::before {top: -8px;left: -15px;bottom: -1px;}
    .content_img {max-width: 320px;margin: 0 auto 30px;}
    .middle_content h2 {font-size: 22px;}
    .card-header {font-size: 17px;}
    .progress_bar_sec h3 {font-size: 25px;margin-bottom: 15px;}
    .counter-progress {margin-top: 0;}
    .pay_quadpay_sec .content_img {margin-left: 0;max-width: 95%;}
    .pay_quadpay_sec .middle_content {max-width: 576px;padding: 0 15px;margin: 0 auto;}
    .story_detail {margin-bottom: 50px;}
    .brand_logo ul li {width: 32%;margin-bottom: 15px;}
    .story_sec h3, .brand_sec .mid_content h3 {font-size: 22px;}
    .stories_sec_detail {padding-top: 50px;}
    .read-more {font-size: 14px;}
    .story_sec::after {bottom: auto; top: 10%;}
    .installment_sec h3 {font-size: 22px;}
    .account_type_content {padding: 0 15px 30px;}
    .account_type_content > figure {margin:0 -15px 30px;display: none;}
    .account_type_content .button {font-size: 14px;padding: 17px 15px 14px;}
    .membership_content {padding: 45px 30px 50px;}
    .membership_detail {margin: 0 -15px;}
    .membership_content {padding: 30px 15px 40px;}
    .membership_content h4 {font-size: 20px;}
    .membership_content p {font-size: 18px;}
    .client_story figure.content_img {max-width: 100%;border-top-left-radius: 8px;border-top-right-radius: 8px;border-bottom-left-radius: 0;padding-bottom: 100%;}
    .form_request_section {background: #ffffff !important;}
    .form-detail ul {margin-top: 0;}
    .form-detail {padding: 0;margin-bottom: 50px;}
    .form_sec_reverse .form-detail {padding: 0;}
    .form_sec_reverse .form-detail {padding-bottom: 0;}
    #header .col-md-7, #header .col-md-5 {-ms-flex: 0 0 100%;flex: 0 0 100%;max-width: 100%;}
    .navbar-light .navbar-toggler {position: absolute;left: 0;top: -37px;border: none;padding: 0;}
    .store_link {display: none;}
    #header .anystore_split_Sec .store_link {display: block;}
    .blankDiv {margin: 0;}
    nav ul {font-size: 18px;padding-top: 20px;}
    nav ul li {display: block; text-align: center;margin: 0;}
    nav ul li.home_menu {display: block;}
    nav ul li a {padding: 12px 0 8px;}
    nav ul li.get_started_btn {border: none;margin-top: 10px;margin-left: 0;}
    nav ul li.get_started_btn a {font-size: 16px;margin: 0;}
    button.navbar-toggler:hover, button.navbar-toggler:focus {background: #ffffff;outline: none;}
    /* nav ul li a:hover, nav ul li a:focus, nav ul li.current-menu-item > a {color: #ffffff;background: #1D75EC;} */
    nav ul li.help_menu {display: none;}
    .search_popup {position: absolute;width: calc(100% - 136px);top: 0;left: 0;}
    .search_popup a::after {right: -30px;}
    .filter_search_wrap {padding: 0;position: relative;min-height: inherit !important;}
    .filter_search_sticky {margin-bottom: 50px;box-shadow: 0 15px 20px rgba(0, 0, 0, 0.05);}
    .filter_search_sticky.fixed {position: static;}
    .blankDivFilter {display: none;}
    .banner_content {margin-bottom: 0;}
    .filter_list {padding-top: 0;text-align: center;display: none;}
    .filter_list_wrap .filter_list {display: block;}
    .filter_list li {display: block;margin: 0;padding: 10px 0;}
    .filter_list li.verified-stores::before {position: static;display: inline-block;vertical-align: top;margin-right: 10px;}
    .filter_list_wrap .filter_list li.verified-stores {padding-left: 0;padding-right: 40px;}
    .filter_list_wrap .filter_list li.verified-stores::before {left: auto;right: 0;position: absolute;width: 25px;height: 25px;top: 20px;}
    .filter_list li a {display: inline-block;}
    .filter_list li::after {display: none;}
    .store_popup_img {position: static;margin: 0 auto;}
    .store_popup_content .banner_content {padding: 0;}
    .news-block-img {width: 100%;float: none !important;margin-bottom: 15px;}
    .blog-block-content {width: 100%;float: none !important;padding: 0 !important;}
    #header.fixed {max-height: 100%;overflow: auto;}
    #header {padding: 15px 0;margin: 0;}
    /* .blankDiv {display: none;} */
    .progress-bar-content p {line-height: 1.4;}
    .comman_sec.clinet_logo_sec {padding-top: 20px;}
    .pay_quadpay_sec .middle_content ul li::before {top: 3px;}
    .progress-bar-content p {font-size: 18px;}
    .form-detail p {font-size: 18px;}
    .store_popup_content{margin: 15px;}
    /* nav ul li a::after {display: none;} */
    .card_sec .middle_content {text-align: center;margin-bottom: 30px;}
    .card_sec figure {margin-bottom: 25px;}
    .pay_quadpay_sec .content_img {margin-bottom: 0;}
    .pay_quadpay_sec .middle_content {text-align: center;margin-bottom: 30px;}
    .gform_wrapper li.hidden_label input {margin-top: 0 !important;}
    .progress-bar-loader {margin-bottom: 15px;}
    .page-id-16 .two_images_col_sec .col-lg-8 {display: none;}
    .copyright_content .gform_wrapper {margin-bottom: 0;}
    .modal-open .modal {padding-left: 0;}
    .form-detail .form_wrap {display: block;margin-bottom: 50px;}
    .form_request_section .hidden-sm-down {display: none;}
    .whr-items > li {padding: 30px 35px 25px;}
    .filter_icon {position: static;top: 0;right: 0;margin: 15px 0 15px auto;display: block;}
    .blog-sort-search {max-width: 100%;top: 0;position: static;}
    .blog-sort-search .search-text { height: 44px; padding: 4px 15px 0 41px !important; background: #F5F9FC; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px;width: 100%;}
    ::-webkit-input-placeholder {padding-top: 4px;}
    :-moz-placeholder {padding-top: 4px;}
    ::-moz-placeholder {padding-top: 4px;}
    :-ms-input-placeholder {padding-top: 4px;}.blog-sort-search input[type="submit"] {left: 12px;right: auto;top: 13px;background-image: url('assets/images/search_icon_blue.svg') !important;}
    .banner_content_mobile {display: block;text-align: center;padding: 0;}
    .filter_sec .banner_sec {display: none;}
    .anystore_split_Sec {padding: 7px 0 2px;}    

    
    .navbar-collapse .anystore_split_Sec {display: block;text-align: center;padding-left: 15px;padding-right: 15px;margin-top: 25px;}
    .anystore_split_Sec p {display: block;margin-bottom: 0;}
    .anystore_split_Sec p strong {display: inline-block;margin-bottom: 5px;}
    #header .anystore_split_Sec {display: block;padding: 22px 0 17px;}
    #header .anystore_split_Sec p {margin-bottom: 10px;}
    #header .anystore_split_Sec p strong {display: block;}
    .help_link, .logo {display: none;}
    .navbar-light .collapsed .navbar-toggler-icon, .navbar-light .navbar-toggler-icon {background-image: url('assets/images/q_logo.svg') !important;}
    .navbar-light .navbar-toggler-icon::after { content: ""; width: 0; height: 0; border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 6px solid #000; display: inline-block; vertical-align: middle; position: absolute; right: -20px; top: 11px; transform: rotate(180deg); -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); -o-transform: rotate(180deg); }
    .navbar-light .collapsed .navbar-toggler-icon::after { transform: rotate(0); -webkit-transform: rotate(0); -moz-transform: rotate(0); -ms-transform: rotate(0); -o-transform: rotate(0); }
    .mobile_top_menu {display: block;margin-left: auto;text-align: right;padding-left: 90px;margin: 0;}
    .mobile_top_menu li {padding: 0;margin: 0;display: inline-block;vertical-align: middle;}
    .mobile_top_menu li::before {display: none;}
    .mobile_top_menu li a { display: block; background: #1D75EC; padding: 17px 20px 14px; color: #ffffff; text-transform: uppercase; letter-spacing: 0.3px; font-family: 'axiformabold', sans-serif; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; position: relative; margin: 0 auto; line-height: 1; font-size: 14px; display: inline-block; transition: all 0.4s linear; -webkit-transition: all 0.4s linear; -moz-transition: all 0.4s linear; -ms-transition: all 0.4s linear; -o-transition: all 0.4s linear;}
    .mobile_top_menu li a:hover, .mobile_top_menu li a:focus {background: #115cc1;text-decoration: none;color: #fff;}
    .mobile_top_menu li:first-child a {background: transparent;color: #1D75EC;}
    .insight-readmore .button {width: 100%;}
    .unli_possi_img {height: 240px;margin-bottom: 15px;display: none;}
    .unli_possi_img + h3 {display: block;text-align: center;margin-bottom: 30px;}
    .project-results_wrap {padding-top: 20px !important;}
    .card_sec .middle_content h3, .pay_quadpay_sec .middle_content h3 {font-size: 19px;}
    .clinet_logo_sec figure img {width: 70%;}
    .membership_benefits_sec .container .row:first-child p {display: none;}
    .pay_quadpay_sec .middle_content {margin-bottom: 0;}
    .pay_quadpay_sec .middle_content ul {text-align: left;margin-bottom: 0;padding-left: 55px;}
    .pay_quadpay_sec .middle_content ul li:last-child {margin-bottom: 0;}
    .card_sec .middle_content {margin-bottom: 0;}
    .card_sec .middle_content > p {margin-bottom: 15px;}
    .middle_content_img_sec .middle_content, .installment_sec .middle_content {text-align: center;}
    .installment_sec .middle_content p strong {font-size: 20px; font-family: 'axiformabold', sans-serif;}
    .banner_content ul, .banner_content .gform_wrapper {display: none;}
    .banner_content .gform_confirmation_wrapper {display: none !important;}
    .unlimited_possibiliteis_sec .container > .row:nth-child(2) {margin: 0 -8px;}
    .unlimited_possibiliteis_sec .container > .row:nth-child(2) .col-6 {padding-right: 8px;padding-left: 8px;}
    #project-results .row {margin: 0 -8px;}
    #project-results .row .col-6 {padding-right: 8px;padding-left: 8px;}
    .tabing_wrap {display: none;}
    .tabing_wrap.tabing_wrap_mobile {display: block;}
    .tabs_content {text-align: center;}
    .tab-content {margin-bottom: 20px;}
    .nav-tabs {padding: 0 15px;}
    #footer > .container > .row > .col-lg-3 {-ms-flex: 0 0 100%;flex: 0 0 100%;max-width: 100%;}
    #footer > .container > .row > .col-lg-9 {-ms-flex: 0 0 100%;flex: 0 0 100%;max-width: 100%;}
    .filter_list_wrap {position: static;}
    .filter_search_sticky {position: static;}
    .filter_list_wrap ul li {display: block;width: 100%;margin: 0;text-align: left;}
    .close_btn.focus {display: block;}
    .filter_icon.active span {display: none;}
    .filter_icon.active::after {display: inline-block;}
    .page-id-11 .comman_sec:last-of-type, .page-id-250 .comman_sec:last-of-type, .page-id-236 .comman_sec:last-of-type {display: none;}
    .nav-tabs .nav-item {-webkit-box-flex: 0;-ms-flex: 0 0 100%;flex: 0 0 100%;max-width: 100%;}
    .middle_content {max-width: 100%;}
    .filter_icon span {margin-left: 2px;}
    .filter_icon::after {margin-left: 5px;}
    /* .unli_possi_img {display: none;} */
    .unli_possi_img.verified, .unli_possi_img_mobile {display: block;}


    .home .mob-banner-sec{display: block; padding: 15px 0 5px 0;}
    .home .anystore_split_Sec {display: none;}    
    .filter_sec h4{display: none;}

}
/*------------mobile portrait view------*/
@media (max-width:575px) {
    h1 {margin-bottom: 15px;font-size: 22px;}
    h2 {font-size: 22px;}
    h3 {font-size: 20px;}
    body, p {font-size: 18px;line-height: 1.5;}
    .mid_content p {margin: 0 auto 20px;}
    .our_value_sec h2 {margin-bottom: 30px;}
    .our_value_content {margin-bottom: 30px;}
    .our_value_content figure {height: auto; line-height: 1;margin-bottom: 20px;}
    .our_value_content h3 {height: auto !important;}
    .two_images_col {height: 300px;}
    .trusted_best_logo_list li::after {height: 2px;width: auto;top: auto;bottom: 0;right: 0;left: 0;}
    .trusted_best_logo_list li:first-child {margin-bottom: 25px;}
    .our_mission_wrap {margin-bottom: 30px;}
    .our_mission_content h3 {height: auto !important;}
    .gform_wrapper .gform_body {width: 100% !important;float: none !important;margin-bottom: 15px !important;}
    .gform_wrapper .gform_footer {width: 100% !important;float: none !important;clear: inherit !important;padding: 0 !important;margin: 0 auto !important;}
    body .mid_content .gform_wrapper ul li.gfield {padding-right: 0;}
    .banner_content .gform_wrapper .gform_body {padding-right: 0;}
    .banner_content ul li {display: block;margin: 0 0 10px;}
    .tabs_content h2 {font-size: 28px;margin-bottom: 30px;}
    .tabs_content h3 {font-size: 18px;}
    .tabs_content p {font-size: 16px;}
    .middle_content img {margin-bottom: 10px;}
    .content_img {margin-bottom: 25px;}
    .card-header > div {padding-right: 25px;}
    .foo_menu > li {width: 100%;float: none;margin-bottom: 30px;}
    .foo_menu > li:nth-child(3) {width: 100%;}
    .progress_bar_sec h3 {font-size: 20px;}
    .progress-bar-content {max-width: 273px;margin-left: auto;margin-right: auto;}
    .card_sec:after {top: -50px;right: -200px;}
    .clinet_logo_sec figure {margin: 15px 0;}
    .installment_sec h3 {font-size: 20px;}
    .button {padding: 15px 15px 12px;font-size: 14px;}
    .brand_logo ul li {width: 49%;}
    .brand_sec .mid_content h3 {margin-bottom: 20px;}
    .account_type_content {margin-bottom: 0;background: none;box-shadow: none;}
    .account_type_content > figure {margin:0 -15px 30px;display: none;}
    .middle_content h2 {font-size: 20px;}
    .client_story {margin: 0 20px 70px !important;}
    .blue-bg .row::after {-webkit-box-shadow: -20px 20px 0px 0px rgba(245, 249, 252, 1);-moz-box-shadow: -20px 20px 0px 0px rgba(245, 249, 252, 1);box-shadow: -20px 20px 0px 0px rgba(245, 249, 252, 1);}
    .red-bg .row::after {-webkit-box-shadow: 20px 20px 0px 0px rgba(252, 245, 250, 1);-moz-box-shadow: 20px 20px 0px 0px rgba(252, 245, 250, 1);box-shadow: 20px 20px 0px 0px rgba(252, 245, 250, 1);}
    .client_story .middle_content {padding: 25px 30px 30px;}
    .client_story .middle_content figure {margin-bottom: 25px;}
    .client_story .middle_content p {font-size: 17px;}
    .client_story .middle_content .client_name {font-size: 20px;}
    body .sign_up_forms .gform_wrapper ul li.gfield.form-col-right-6, body .sign_up_forms .gform_wrapper ul li.gfield.form-col-left-6 {width: 100%;float: none;padding: 0 !important;}
    .gform_wrapper h3.gform_title {font-size: 20px !important;}
    .modal-header {padding: 40px 15px 0;}
    .modal-body {padding: 0 15px 15px;}
    .modal-open .modal {padding-right: 0 !important;}
    .sign_up_forms .gform_wrapper .gfield_label, .sign_up_forms .gform_wrapper .ginput_container_name {font-size: 12px;margin-bottom: 5px;}
    input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea, select {height: 44px;}
    .sign_up_forms .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {padding: 3px 10px 0 !important;}
    .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {font-size: 14px !important;}
    .gform_wrapper .ginput_container_phone input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {padding-left: 50px !important;}
    .gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit], .gform_wrapper .gform_page_footer input.button, .gform_wrapper .gform_page_footer input[type=submit], input[type=submit], input.button {height: 44px;padding: 5px 15px 0!important;}
    body .sign_up_forms .gform_wrapper ul li.gfield {margin-bottom: 20px !important;}
    .sign_up_forms .gform_wrapper .field_sublabel_above .ginput_complex.ginput_container label {font-size: 12px;margin-bottom: 6px !important;}
    .store_popup_content .modal-body {padding: 30px 20px 20px;}
    .store_popup_img {width: 230px;}
    .pay_quadpay_sec .middle_content ul {font-size: 17px;}
    .counter-progress .row > *:last-child .progress-bar-content {margin-bottom: 0;}
    body .sign_up_forms .gform_wrapper ul li.gfield.form-col-right-6 select, body .sign_up_forms .gform_wrapper ul li.gfield.form-col-left-6 select {background-position: 96% center;}
    .form-detail ul li::before {top: 1px;}
    .whr-items > li {-ms-flex: 0 0 100%;flex: 0 0 100%;max-width: 100%;margin-bottom: 30px;}
    .unli_possi_img {padding-bottom: 100%;height: auto;}
    .unli_possi_img figure { transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%);top: 50%;bottom: auto;line-height: 1;padding: 10px;}
    .clinet_logo_sec figure img {width: 85%;}
    .anystore_split_Sec p {font-size: 0;}
    .anystore_split_Sec p strong {display: block;font-size: 14px;}
    .expansion_sec .mid_content .button {width: 100%;margin: 0 0 15px;padding: 21px 15px 17px;}
    .account_type_content {padding: 0 15px;}
    .account_type_content .button {width: 100%;margin: 0 0 15px;padding: 21px 15px 17px;}
    .account_type_Sec .justify-content-md-center {margin-top: 0;}
    .anystore_split_Sec p strong::after {display: none;}

    .banner_content p{font-size: 18px;}

    .pay_quadpay_sec .content_img{margin-bottom: 25px;}



}
